<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="body">
        {{>header}}
        <div class="container">
            <h1>Статьи</h1>
            <h2>... и прочие размышления вслух</h2>
                      
            {{>post}}   
            {{>post}} 
            {{>post}} 
            {{>post}}            
       
                  
        </div> 
        {{>footer}}
        </div>
    <script src="/js/index.js"></script>
    </body>
</html>