<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap" rel="stylesheet">
    </head>
    <body>
        {{>header}}
        <div class="blog">
            <img src="/img/picture.png">
            <h1>Статьи и писанины</h1>
        </div>
        
            
         
        {{>footer}}
    <script src="/js/index.js"></script>
    </body>
</html>