<div class='blog-post'>
    <img src='/img/logo.png'>
    <div id="post-title"><h3>Мой новый пост</h3></div>
    <div id="post-date"><p>Опубликовано: 28/02/2020г. </p></div>
     
</div>
<div id="post-text">
<p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. e eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix ... </p>
</div>

